}
@media screen and (max-width: 1024px){
	.grid-container{
		display: grid;
	    grid-template-columns: auto;
	}
}
@media screen and (max-width: 1024px){
	.footer-wrapper{
        display: grid;
	    grid-template-columns: auto;
    }
}
@media screen and (max-width:1024px){
	.last-section-wrapper {
		flex-direction: column;
	}
